/* .cloud, .snow, .stormy, .moon {
	position: absolute;
	top: 20%;
	left: 80%;
	transform: translate(-50%, -50%);
	width: 1200%;
	height: 100%;
} */

.fas {
	font-size: 50px;
}

[icon="sunny"] {
	display: block;
}

[icon="cloudy"] {
	display: block;
}

[icon="snowy"] {
	display: block;
}

[icon="stormy"] {
	display: block;
}

[icon="nightmoon"] {
	display: block;
}

.img-icons {
	width: 100px;
	height: 100px;
}


