html {
	background-color: #333;
	overflow: hidden;
	
}

#main {
	position: absolute;
	height: 100%;
	width: 30%;

}

.day {
	background: linear-gradient(to bottom left, #c7700c, #353434);
	color: #fff;
}
.night {
	background: linear-gradient(to bottom left, #4854a2, #3d3d3d);
	color: white;
}

.title {
	font-size: 50px;
	font-weight: 500;
}

.form-rounded {
	border-radius: 2rem;
}
.back-card {
	border-radius: 40px !important;
	color: white;
	background: linear-gradient(to bottom right, #707070, #434647);
	text-shadow: 2px 2px 2px #707070;
}


.city-name p {
	font-size: 50px;
	text-align: center;
}

.temp span {
	font-weight: 100;
	font-size: 5em;
	letter-spacing: -5px;
	white-space: nowrap;
}
.card-mid {
	font-size: 20px;
	line-height: 0.5;
}
.condition {
	font-size: 1em;
	font-weight: 700;
	line-height: 1em;
	text-transform: capitalize;
}

.high {
	font-size: 15px;
}

.low {
	font-size: 15px;
}

.card-bottom p {
	font-size: 50px;
	font-weight: 100;
	letter-spacing: -3px;
}
.card-bottom {
	line-height: 0.5;
}

.card-bottom span {
	font-size: 12px;
}

.form-control:focus {
	box-shadow: none;
	border-color: inherit;
}

.img-card {
	position: absolute;
	width: 50px;
	height: 50px;
}

.card-box-like {
	position: absolute;
	background-color: rgb(38, 38, 38);
	left: 60%;
	top: 90%;
	padding: 2rem;
	border-radius: 9px;
	width: 500px;
}
.card-box-humidity {
	position: absolute;
	background-color: rgb(38, 38, 38);
	left: 460%;
	top: 90%;
	padding: 2rem;
	border-radius: 9px;
	width: 500px;
}
.page {
	background-color: rgb(56, 51, 51);
	width: 100%;
	height: 100%;
}

.card-box {
	position: relative;
	left: 100%;
	top: -500px;
	width: 100%;
	font-size: 20px;
	color: #707070;
	
	
}

.card-top{
	position: absolute;
	left: 50%;
	top: 90%;
	transform: translate(-50%,-50%);
	
}

.img-icons-local{
	position: absolute;
	left: -10%;
	top: 20%;
	transform: translate(-50%,-50%);
	width: 40px;	
	
}

.icon-weather{
	position: absolute;
	left: 50%;
	top: 60%;
	transform: translate(-50%,-50%);
}

.card-box-temp{
	position: absolute;
	background-color: rgb(38, 38, 38);
	left: 60%;
	top: 120%;
	padding: 2rem;
	border-radius: 9px;
	width: 500px;
	text-align: center;
	height: 270px;
}

.card-box-pressure{
	position: absolute;
	background-color: rgb(38, 38, 38);
	left: 460%;
	top: 120%;
	padding: 2rem;
	border-radius: 9px;
	width: 500px;
	height: 270px;
	text-align: center;
}

.box-title{
	font-size: 60px;
	color: #fff;
}

.icon-temp{
	width: 15px;
}

.main-title{
	position: absolute;
	left: 100px;
	top: 80%;
	font-size: 100px;
	color: #fff;
	font-size: 40px;
	width: 400px;
}

.cards{
	position: absolute;
	left: 20px;
	top: 55%;
	display: flex;
	width: 1200px;
	

}

.box-card{
	margin: 10px;
	color: #fff;

	border-radius: 9px;
	
}

.card-body{
	background-color: rgb(38, 38, 38);
	border-radius: 9px;
	width: 200px;
	height: 150px;
	
}

.temp-day{
	padding: 0px;
	text-align: center;
	font-size: 30px;
}

.temp-title{
	font-size: 24px;
	color: #707070;
}


/* 
@media (min-width: 1600px) {
	
	.card-box {
		position: relative;
		left: 100%;
		top: -500px;
		width: 100%;
		font-size: 20px;
		color: #707070;
		
		
	}
}


@media (min-width:900px) {
	.card-box {
		position: relative;
		left: 0;
		top: 100vh;
		width: 100%;
		font-size: 20px;
		color: #707070;	
	}
} */